<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><strong>Last name:</strong></th>
      <th><strong>First name:</strong></th>
      <th><strong>Email:</strong></th>
      <th><strong>Phone:</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @employee.Lastname %></td>
      <td><%= @employee.Firstname %></td>
      <td><%= @employee.email %></td>
      <td><%= @employee.phone %></td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><strong>Employee status:</strong></th>
      <th><strong>Cost center code:</strong></th>
      <th><strong>Department:</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @employee.Employee_Status %></td>
      <td><%= @employee.Cost_Center_Code %></td>
      <td><%= @employee.Department %></td>
    </tr>
  </tbody>
</table>

<p>
  <strong>Photo:</strong>
  <% if !@employee.image.blank? %>
    <td><%= image_tag @employee.image.normal.url, class: "img-circle" %></td>
  <% else %>
    <td><%= image_tag ("/assets/DArtagnan_Logo_2015_CMYK_micro.jpg") %></td>
  <% end %>
</p>
<br>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', employees_path, class: "btn btn-primary" %>
